* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fcfff9;
  color: #555555;
}
header {
  padding: 0.8em 0;
  box-shadow: 0 3px 0 0 rgba(236, 236, 236, 0.6);
}
header > h1 {
  font-size: 1.2em;
  text-align: center;
}
.winner-name {
  text-align: center;
  margin-top: 2rem;
}
.board {
  width: 80%;
  margin: 1rem auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.resetButton {
  display: flex;
  justify-content: center;
}
.resetButton > button {
  padding: 0.6rem 0.7rem;
  background-color: #318ce7;
  border: none;
  border-radius: 0.3rem;
  color: #ffffff;
  cursor: pointer;
}
.resetButton > button:hover {
  background-color: #1076db;
}
.square {
  min-height: 4em;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.square:hover {
  background-color: #e7e9e6;
}
.square > p {
  font-size: 1em;
  font-weight: 700;
}
footer {
  padding: 1rem;
  text-align: center;
}
footer > p {
  font-size: 0.8em;
}

/* tablet screen */
@media only screen and (min-width: 768px) {
  .board {
    width: 50%;
  }
}

/* extra large screen */
@media only screen and (min-width: 1440px) {
  header > h1 {
    font-size: 1.6em;
  }
  .winner-name {
    font-size: 1.2em;
  }
  .board {
    width: 25%;
  }
}
